{% extends 'base.html' %}
{% block body %}
<section id="intro">
        <div class="intro-container">
          <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active">
                <div class="carousel-background"><img src="/static/document.jpg" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                        <h2>Welcome to Ease Documents</h2>
                        <p>This website helps college students receive the documents in a easy way.</p>
                  </div>
                </div>
              </div>
    
             
            </div>
    
          </div>
        </div>
      </section>
    <!--<div class="homeimg text-center"><img src="/static/homebackground.jpg" alt=""></div>-->
    
{% endblock %}